:root{

}
body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
    padding: 0;
    margin: 0;
    cursor: default;
}

// TNav Style
.TNav{
    position: fixed;
    top: 0;
    left: calc(320px - 1rem);
    height: calc(120px - .5rem);
    width: calc(100% - 320px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    // animation: opa01 alternate forwards 3s;
    z-index: 100;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.TNav-container-logo{
    display: none !important;
    font-family: 'The Nautigal', cursive;
    color: rgb(253, 109, 133);
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TNav-nav-bar{
    height: 50px;
    width: 50px;
    border-radius: 100rem;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245, 0);
    position: relative;

    svg{
        margin: 0;
        font-size: 20px;
    }

    &:hover{
        cursor: pointer;
        background-color: rgb(245, 245, 245);
    }
}
// .TNav-nav-fake{
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 50px;
//     width: 50px;
//     border-radius: 100rem;
//     background: rgb(245, 245, 245, 0);
//     transition: all 3s ease;
// }
// .scale8Animation{
//     animation: scale8 alternate 1s;
// }
// @keyframes scale8 {
//     from{
//         transform: scale(0);
//     }
//     to{
//         transform: scale(8500%);
//         background: rgb(245, 245, 245, 1);
//     }
// }

.TNav-search{
    margin: 0 0 0 .5rem;

    svg{
        font-size: 20px;
        color: rgb(253, 103, 128);
    }

    &:hover input{
        border-bottom: 2px solid rgb(210, 210, 210);
    }

    input{
        margin-left: 1rem;
        width: 250px;
        height: 45px;
        outline: none;
        border: none;
        border: 2px solid rgb(210, 210, 210, 0);

        &::placeholder{
            opacity: .5;
        }

        &:focus{
            border-bottom: 2px solid rgb(210, 210, 210);
        }
    }
}
.TNav-nav{
    display: flex;
}
.TNav-nav-item{
    margin: 0 0 0 2rem;

    a{
        text-decoration: none;
        color: black;

        &:hover{
            cursor: pointer;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

// LNav Style
.LNav{
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - .5rem);
    width: calc(320px - .5rem);
    // animation: opa01 alternate forwards 3s;
}
.LNav-container{
    margin: 0 0 0 3rem;
}
.LNav-container-logo{
    font-family: 'The Nautigal', cursive;
    font-size: 55px;
    color: rgb(253, 109, 133);
    letter-spacing: 3px;
    margin: 2rem 0 2rem 0;
}
.LNav-container-title{
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 2rem 0;
}
.LNav-container-nav{
    
}
.LNav-container-nav-item{
    margin: 0 0 2em 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

    img{
        // width: 30px;
        margin-right: 1rem;
    }

    &:hover{
        cursor: pointer;
        opacity: .7;
    }
}

// MNav
.MNav{
    position: fixed;
    top: calc(80px - .5rem);
    left: .5rem;
    width: calc(100% - 1rem);
    height: 50px;
    background: white;
    display: none;
    box-shadow: 3px 3px 7px rgb(190, 190, 190, 0.7);
    border-radius: 100rem;
    z-index: 99;
    // animation: opa01 alternate forwards 3s;
}

// MainContainer Style
.MainContainer{
    position: absolute;
    top: calc(120px - .5rem);
    left: calc(320px - .5rem);
    width: calc(100% - 320px);
    height: calc(100% - 120px);
}

// Product Page Style
.Products{
    width: 100%;
    height: 100%;
    display: flex;
}
.Products-left{
    width: 50%;
    height: 100%;
}
.Products-left-top{
    width: 100%;
    height: 50%;
    // animation: fromTop alternate forwards 1.5s;
}
.Products-left-bot{
    width: 100%;
    height: 50%;
    display: flex;
    // animation: fromLeft alternate forwards 1.5s;
}
.Products-right{
    width: 50%;
    height: 100%;
}
.Products-right-top{
    width: 100%;
    height: 50%;
    display: flex;
    // animation: fromRight alternate forwards 1.5s;
}
.Products-right-bot{
    width: 100%;
    height: 50%;
    // animation: fromBot alternate forwards 1.5s;
}
.Products-left-top-item1{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1523381294911-8d3cead13475?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}
.Products-left-top-item2{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;

    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1549298916-b41d501d3772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1112&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}

.Products-left-bot-item1{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1617019114583-affb34d1b3cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}
.Products-left-bot-item2{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1516726817505-f5ed825624d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}

.Products-right-bot-item1{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1525200845123-a29d24f1ae65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}
.Products-right-bot-item2{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1595341888016-a392ef81b7de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1479&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}

.Products-right-top-item1{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1507114845806-0347f6150324?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}
.Products-right-top-item2{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}
.item-container-title{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    font-weight: 500;
    transform: translate(30%, -50%);
    transition: all .5s ease;
}
.item-container-hover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(180, 180, 180, .2);
    transform: translateY(100%);
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

// MModal
.MModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(245, 245, 245);
    z-index: 100;
}
.MModal-nav{
    width: 100%;
    height: calc(80px - .5rem);
    display: flex;
    justify-content: right;
    align-items: center;
}
.MModal-nav-bar{
    height: 50px;
    width: 50px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245, 0);
    margin-right: .5rem;

    svg{
        margin: 0;
        font-size: 20px;
    }

    &:hover{
        cursor: pointer;
        background-color: rgb(245, 245, 245);
    }
}

// List
.List{
    width: 100%;
    // max-height: 100%;
    // overflow: auto;
}
.List-title{
    width: 100%;
    height: 170px;
    margin: 0 0 20px 0;
    position: relative;

    div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: 600;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
}
.List-nav{
    font-weight: 400;
    margin: 0 0 20px 0;
}
.List-nav-container{
    display: flex;
}
.List-nav-container-recommend{
    margin: 0 3rem 0 0;

    svg{
        margin: 0 .5rem 0 0;
        font-size: 18px;
        color: rgb(210, 210, 210);
    }

    &:hover{
        cursor: pointer;
    }
}
.List-nav-container-sort{
    
    svg{
        margin: 0 .5rem 0 0;
        font-size: 20px;
        color: rgb(210, 210, 210);
    }

    &:hover{
        cursor: pointer;
    }
}
.List-container{
    width: 100%;
    height: 338px;
    margin: 0 0 20px 0;
    display: flex;
}
.List-container-main{
    height: 100%;
    width: 80%;
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
}
.List-container-main-item{
    height: 100%;
    width: 250px;
    border-radius: 15px;
    background: rgb(210, 210, 210);
}
.List-container-prev{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.List-container-next{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.List-container-prev-btn{
    height: 55px;
    width: 55px;
    border-radius: 100rem;
    background: rgb(210, 210, 210, 0.3);
    font-size: 25px;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        cursor: pointer;
        color: black;
        background: rgb(210, 210, 210, 0.5);
    }
}
.List-container-next-btn{
    height: 55px;
    width: 55px;
    border-radius: 100rem;
    background: rgb(210, 210, 210, 0.3);
    font-size: 25px;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        cursor: pointer;
        color: black;
        background: rgb(210, 210, 210, 0.5);
    }
}

// Back To P_Home
.btph{
    width: 80px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(255, 143, 114), rgb(253, 109, 133));
    position: relative;
    overflow: hidden;
    
    svg{
        color: white;
        font-size: 18px;
        transition: all .6s ease;
    }

    &:hover{
        cursor: pointer;
    }
    &:hover svg{
        opacity: 0;
    }
    &:hover .btph-hover{
        transform: translateX(0);
    }
}
.btph-hover{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 15px;
    background: rgba(210, 210, 210, 0.2);
    transform: translateX(100%);
    transition: all .6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

// Swiper
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 100rem;
    overflow: hidden;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img{
        width: 20px;
        margin-right: 1rem;
    }

    &:hover{
        cursor: pointer;
        background: rgb(210, 210, 210, 0.2);
    }
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 12px !important;
}

// Ani
@keyframes fromTop {
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes fromBot {
    from{
        transform: translateY(200%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes fromLeft {
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes fromRight {
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes opa01 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

// Responsive
@media screen and (max-width: 1250px) {
    .LNav{
        display: none;
    }
    .TNav{
        left: .5rem;
        width: calc(100% - 1rem);
        height: calc(80px - 0.5rem);
    }
    .TNav-search{
        display: none;
    }
    .TNav-container-logo{
        display: block !important;
        font-size: 45px;
    }
    .TNav-nav-item{
        display: none;
    }
    .TNav-nav-bar{
        display: flex;
    }
    .MainContainer{
        left: 0;
        width: 100%;
        position: absolute;
        top: calc(150px - .5rem);
    }
    .MNav{
        display: flex;
    }
    .item-container-title{
        transform: translate(20%, -50%);
    }
    .List{
        width: 95%;
        margin: 0 auto;
    }
    .btph{
        margin: 0 auto;
    }
}
@media screen and (max-width: 900px) {
    .item-container-title{
        transform: translate(10%, -30%);
    }
}
@media screen and (max-width: 800px) {
    .List-container-main{
        justify-content: center;
    }
}
@media screen and (max-width: 767px) {
    .Products{
        display: block;
    }
    .Products-left{
        width: 100%;
    }
    .Products-right{
        width: 100%;
    }
}
@media screen and (max-width: 565px) {
    .swiper-slide {
        font-size: 14px;

        img{
            width: 16px;
            margin-right: .5rem;
        }
    }
    .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }
}