:root{

}
body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
    padding: 0;
    margin: 0;
    cursor: default;
}

// TNav Style
.TNav{
    position: fixed;
    top: 0;
    left: calc(320px - 1rem);
    height: calc(120px - .5rem);
    width: calc(100% - 320px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    animation: opa01 alternate forwards 5s;
}
.TNav-container-logo{
    display: none !important;
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    color: rgb(255, 134, 154);
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TNav-nav-bar{
    height: 50px;
    width: 50px;
    border-radius: 100rem;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);

    svg{
        margin: 0 !important;
        font-size: 20px !important;
    }

    &:hover{
        cursor: pointer;
    }
}
.TNav-search{
    margin: 0 0 0 .5rem;

    &:hover input{
        border-bottom: 2px solid rgb(210, 210, 210);
    }

    input{
        padding-left: .5rem;
        margin-left: 1rem;
        width: 250px;
        height: 45px;
        outline: none;
        border: none;
        border: 2px solid rgb(210, 210, 210, 0);

        &::placeholder{
            opacity: .5;
        }

        &:focus{
            border-bottom: 2px solid rgb(210, 210, 210);
        }
    }
}
.TNav-nav{
    display: flex;
}
.TNav-nav-item{
    margin: 0 0 0 2rem;

    a{
        text-decoration: none;
        color: black;

        &:hover{
            cursor: pointer;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

// LNav Style
.LNav{
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - .5rem);
    width: calc(320px - .5rem);
    animation: opa01 alternate forwards 5s;
}
.LNav-container{
    margin: 0 0 0 3rem;
}
.LNav-container-logo{
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    color: rgb(255, 134, 154);
    letter-spacing: 10px;
    margin: 3rem 0 3rem 0;
}
.LNav-container-title{
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 3rem 0;
}
.LNav-container-nav{
    
}
.LNav-container-nav-item{
    margin: 0 0 2em 0;
    font-weight: 400;

    img{
        // width: 30px;
        margin-right: 1rem;
    }

    &:hover{
        cursor: pointer;
        opacity: .7;
    }
}

// MNav
.MNav{
    position: fixed;
    top: calc(120px - .5rem);
    left: .5rem;
    width: calc(100% - 1rem);
    height: 50px;
    background: white;
    display: none;
    z-index: 99;
}

// MainContainer Style
.MainContainer{
    position: fixed;
    top: calc(120px - .5rem);
    left: calc(320px - .5rem);
    width: calc(100% - 320px);
    height: calc(100% - 120px);
}

// Product Page Style
.Products{
    width: 100%;
    height: 100%;
    display: flex;
}
.Products-left{
    width: 50%;
    height: 100%;
}
.Products-left-top{
    width: 100%;
    height: 50%;
    animation: fromTop alternate forwards 1.5s;
}
.Products-left-bot{
    width: 100%;
    height: 50%;
    display: flex;
    animation: fromLeft alternate forwards 1.5s;
}
.Products-right{
    width: 50%;
    height: 100%;
}
.Products-right-top{
    width: 100%;
    height: 50%;
    display: flex;
    animation: fromRight alternate forwards 1.5s;
}
.Products-right-bot{
    width: 100%;
    height: 50%;
    animation: fromBot alternate forwards 1.5s;
}
.Products-left-top-item1{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1523381294911-8d3cead13475?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}
.Products-left-top-item2{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;

    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1549298916-b41d501d3772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1112&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}

.Products-left-bot-item1{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1572804013427-4d7ca7268217?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}
.Products-left-bot-item2{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1516726817505-f5ed825624d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}

.Products-right-bot-item1{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1591348278900-019a8a2a8b1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}
.Products-right-bot-item2{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1595341888016-a392ef81b7de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1479&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}

.Products-right-top-item1{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1507114845806-0347f6150324?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}
.Products-right-top-item2{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') center/cover no-repeat;
        transition: all .1s ease-out;
        overflow: hidden;

        &:hover{
            cursor: pointer;
        }

        &:hover .item-container-hover{
            transform: translateY(0);
        }

        &:hover .item-container-title{
            opacity: 0;
        }
    }
}
.item-container-title{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    font-weight: 500;
    transform: translate(30%, -50%);
    transition: all .5s ease;
}
.item-container-hover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(180, 180, 180, .2);
    transform: translateY(100%);
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Ani
@keyframes fromTop {
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes fromBot {
    from{
        transform: translateY(200%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes fromLeft {
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes fromRight {
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes opa01 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
// Responsive
@media screen and (max-width: 1250px) {
    .LNav{
        display: none;
    }
    .TNav{
        left: .5rem;
        width: calc(100% - 1rem);
    }
    .TNav-search{
        display: none;
    }
    .TNav-container-logo{
        display: block !important;
    }
    .TNav-nav-item{
        display: none;
    }
    .TNav-nav-bar{
        display: flex;
    }
    .MainContainer{
        left: 0;
        width: 100%;
        position: absolute;
        top: calc(170px - .5rem);
    }
    .MNav{
        display: flex;
    }
}
@media screen and (max-width: 767px) {
    
}










// Swiper
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img{
        width: 20px;
        margin-right: 1rem;
    }
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 12px !important;
    opacity: .3;
}