:root{

}
body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
    padding: 0;
    margin: 0;
    cursor: default;
}

// TNav Style
.TNav{
    position: fixed;
    top: 0;
    left: calc(320px - .5rem);
    height: calc(120px - .5rem);
    width: calc(100% - 320px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    // border: 1px solid black;
}
.TNav-search{
    &:hover input{
        border-bottom: 2px solid rgb(210, 210, 210);
    }

    input{
        padding-left: .5rem;
        margin-left: 1rem;
        width: 250px;
        height: 45px;
        outline: none;
        border: none;
        border: 2px solid rgb(210, 210, 210, 0);

        &::placeholder{
            opacity: .5;
        }

        &:focus{
            border-bottom: 2px solid rgb(210, 210, 210);
        }
    }
}
.TNav-nav{
    display: flex;
}
.TNav-nav-item{
    margin: 0 2rem 0 0;

    a{
        text-decoration: none;
        color: black;

        &:hover{
            cursor: pointer;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

// LNav Style
.LNav{
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - .5rem);
    width: calc(320px - .5rem);
    // border: 1px solid blue;
}
.LNav-container{
    margin: 0 0 0 3rem;
}
.LNav-container-logo{
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    color: rgb(255, 167, 182);
    letter-spacing: 10px;
    margin: 3rem 0 3rem 0;
}
.LNav-container-title{
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 3rem 0;
}
.LNav-container-nav{
    
}
.LNav-container-nav-item{
    margin: 0 0 2em 0;
    font-weight: 400;

    img{
        width: 30px;
        margin-right: 1rem;
    }
}

// MainContainer Style
.MainContainer{
    position: fixed;
    top: calc(120px - .5rem);
    left: calc(320px - .5rem);
    width: calc(100% - 320px);
    height: calc(100% - 120px);
    // border: 1px solid red;
}

// Product Page Style
.Products{
    width: 100%;
    height: 100%;
    display: flex;
}
.Products-left{
    width: 50%;
    height: 100%;
}
.Products-left-top{
    width: 100%;
    height: 50%;
}
.Products-left-bot{
    width: 100%;
    height: 50%;
    display: flex;
}
.Products-right{
    width: 50%;
    height: 100%;
}
.Products-right-top{
    width: 100%;
    height: 50%;
    display: flex;
}
.Products-right-bot{
    width: 100%;
    height: 50%;
}
.Products-left-top-item1{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1523381294911-8d3cead13475?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') center/cover no-repeat;
    }
}
.Products-left-top-item2{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;

    .item-container{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1549298916-b41d501d3772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1112&q=80') center/cover no-repeat;
    }
}

.Products-left-bot-item1{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1572804013427-4d7ca7268217?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80') center/cover no-repeat;
    }
}
.Products-left-bot-item2{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1516726817505-f5ed825624d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') center/cover no-repeat;
    }
}

.Products-right-bot-item1{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1591348278900-019a8a2a8b1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80') center/cover no-repeat;
    }
}
.Products-right-bot-item2{
    height: 50%;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1595341888016-a392ef81b7de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1479&q=80') center/cover no-repeat;
    }
}

.Products-right-top-item1{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1507114845806-0347f6150324?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') center/cover no-repeat;
    }
}
.Products-right-top-item2{
    width: 50%;
    height: 100%;
    padding: .5rem .5rem .5rem .5rem;
    
    .item-container{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: url('https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') center/cover no-repeat;
    }
}